/* STYLE VARIABLE */

$font-family: "Montserrat", sans-serif;

$font-size-card-title: 22px;
$font-size-card-extract: 12px;
$font-size-card-price: 20px;
$font-size-card-small-text: 10px;
$font-size-card-subtitle: 12px;

$card-text-font-weight: 400;
$card-title-text-font-weight: 500;
$button-font-weight: 400;
$button-rollover-font-weight: 500;

$ls-tahiti-gold: #eb7125;
$ls-tahiti-gold-faded: rgba(235, 113, 37, 0.85);
$ls-black: #101010;
$ls-light-gray: rgba(0, 0, 0, 0.08);
$ls-white: #f8f8f8;
$ls-card-subtitle-color: #b8b8b8;

$card-slide-border-radius: 8px;
$card-btn-border-radius: 25px;
$card-text-border-radius: 5px;

$line-height-title: 26px;
$text-opacity: 0.8;

/* GENERAL STYLING */

p {
  color: $ls-black;
  font-family: $font-family;
  font-weight: $card-text-font-weight;
}

body {
  background-color: $ls-light-gray !important;
}

button {
  font-family: $font-family !important;
  font-size: 12px !important;
  font-weight: $button-font-weight;
  transition: box-shadow 0.4s;
}

// card container

.card-container {
  padding-top: 60px;
}

// image slider

.flicking {
  height: 210px;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 8px;
}

.image-slide {
  width: 340px;
  margin-right: 5px;
  object-fit: cover;
  height: 210px;
  border-radius: $card-slide-border-radius;
}

.carousel-container {
  position: relative;
}

// overlap slide elements

.top-right {
  position: absolute;
  top: 8px;
  right: 32px;
  color: $ls-white;
  z-index: 10000;
  font-size: 16px;
}

.top-left {
  position: absolute;
  top: 12px;
  left: 32px;
  background-color: $ls-tahiti-gold-faded;
  color: $ls-white;
  z-index: 10000;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 3px 8px;
  border-radius: $card-text-border-radius;
}

// buttons

button:hover {
  background-color: $ls-white !important;
  border: $ls-tahiti-gold 1px solid !important;
  color: $ls-tahiti-gold !important;
}

.card-button {
  margin-top: 16px;
  float: right;
  width: 100px;
  border-radius: $card-btn-border-radius !important;
  background-color: $ls-tahiti-gold !important;
  border: transparent 1px solid !important;
}

/* GENERAL STYLING */


// icons

.star-icon {
  color: $ls-tahiti-gold;
  width: 16px;
  height: 17px;
}

.heart-icon {
  color: $ls-tahiti-gold;
}

.heart-icon:hover {
    cursor: pointer;
}

.card-bar-icons {
  width: 12px;
  height: 12px;
}

// card text

.card-text-container {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 15px;
}

// title

.title-container {
  padding: 0;
}

.card-title {
  font-size: $font-size-card-title;
  font-weight: 500;
  line-height: $line-height-title;
}

// extract 

.card-extract {
  font-size: $font-size-card-extract;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// rating

.card-dynamic-text-container {
  padding: 0 !important;
  margin-bottom: 8px;
}

.card-dynamic-text {
  font-size: $font-size-card-subtitle;
  margin-bottom: 0;
  padding-bottom: 9px;
  margin-left: 8px;
  padding-top: 1px;
  text-align: right;
}

.card-rating {
  display: flex;
}


// price

.price {
  font-size: $font-size-card-price;
  line-height: 20px;
}

// subtile

.subtitle {
  font-size: $font-size-card-subtitle;
  opacity: $text-opacity;
  font-weight: $card-text-font-weight;
}


// gray-bar

.card-bar {
  background-color: $ls-light-gray;
  border-radius: $card-text-border-radius;
  height: 30px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 5px;
}

.card-bar-text {
  font-size: $font-size-card-small-text;
  display: flex;
  align-items: center;
  padding-right: 0 !important;
}
