/* STYLE VARIABLE */

$font-family: "Montserrat", sans-serif;

$font-size-card-title: 22px;
$font-size-card-extract: 12px;
$font-size-card-price: 20px;
$font-size-card-small-text: 10px;
$font-size-card-subtitle: 12px;

$card-text-font-weight: 400;
$card-title-text-font-weight: 500;
$button-font-weight: 400;
$button-rollover-font-weight: 500;

$ls-tahiti-gold: #eb7125;
$ls-tahiti-gold-faded: rgba(235, 113, 37, 0.85);
$ls-black: #101010;
$ls-light-gray: rgba(0, 0, 0, 0.08);
$ls-white: #f8f8f8;
$ls-card-subtitle-color: #b8b8b8;

$card-slide-border-radius: 8px;
$card-btn-border-radius: 25px;
$card-text-border-radius: 5px;

$line-height-title: 26px;
$text-opacity: 0.8;

/* GENERAL STYLING */

p {
  color: $ls-black;
  font-family: $font-family;
  font-weight: $card-text-font-weight;
}

body {
  background-color: $ls-light-gray !important;
}

// buttons

button {
  font-family: $font-family !important;
  font-size: 12px !important;
  font-weight: $button-font-weight;
  transition: box-shadow 0.4s;
}

button:hover {
  background-color: $ls-white !important;
  border: $ls-tahiti-gold 1px solid !important;
  color: $ls-tahiti-gold !important;
}
